In [65]:
import pandas as pd
import numpy as ny

In [78]:
# Series
s1 = pd.Series(['Alex','Bella','Serco','Jack','Nomber'], index = ['a','b','c','d','e'])

In [79]:
s1

a      Alex
b     Bella
c     Serco
d      Jack
e    Nomber
dtype: object

In [80]:
s1.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [81]:
s1.dtypes

dtype('O')

In [82]:
s1.dtype

dtype('O')

In [83]:
s1.values

array(['Alex', 'Bella', 'Serco', 'Jack', 'Nomber'], dtype=object)

In [84]:
s2 ={'A':1,'B':2}

In [85]:
s2_1 = pd.Series(s2)

In [86]:
s2_1

A    1
B    2
dtype: int64

In [87]:
s1

a      Alex
b     Bella
c     Serco
d      Jack
e    Nomber
dtype: object

In [88]:
s1['a']

'Alex'

In [89]:
type(s1["a"])

str

In [90]:
type(s2_1["A"])

numpy.int64

In [94]:
type(s1[["a","b"]])

pandas.core.series.Series

In [96]:
s1[['a','b']]

a     Alex
b    Bella
dtype: object

In [97]:
print(s1['a'])

Alex

In [98]:
#DataFrame

In [108]:
data1 ={
    
    "Name":['Alex','Bella','Serco','Jack','Nomber','Jacky'],
    "Age":[22,32,33,22,25,40],
    "Course":['Maths','Phy','English','Chinese','Mandarin','Accounting'],
    "Score":[80,90,50,70,66,40]
}

In [109]:
df1 =pd.DataFrame(data1)

In [110]:
df1

     Name  Age      Course  Score
0    Alex   22       Maths     80
1   Bella   32         Phy     90
2   Serco   33     English     50
3    Jack   22     Chinese     70
4  Nomber   25    Mandarin     66
5   Jacky   40  Accounting     40

In [111]:
df1.dtypes

Name      object
Age        int64
Course    object
Score      int64
dtype: object

In [112]:
df1.columns

Index(['Name', 'Age', 'Course', 'Score'], dtype='object')

In [113]:
#query Series in DataFlame

In [114]:
df1['Name']

0      Alex
1     Bella
2     Serco
3      Jack
4    Nomber
5     Jacky
Name: Name, dtype: object

In [115]:
type(df1['Name'])

pandas.core.series.Series

In [116]:
type(df1[['Name','Score']])

pandas.core.frame.DataFrame

In [119]:
excel_file ='Candidate.xlsx'
df1.to_excel(excel_file, index = False, sheet_name ='Candidate')
print(f"New Excel file '{excel_file}' saved successfully in your current directory.")

New Excel file 'Candidate.xlsx' saved successfully in your current directory.

In [122]:
s1.loc[['b','c']]

b    Bella
c    Serco
dtype: object